<h1>All Genres!</h1>

<div class="genre">
<ul>
  <% @genres.each do |g| %>
    <li><h2><%= link_to g.name, genre_path(g) %></h2>
    <ol>
      <% g.games.each do |game| %>
        <li><%= link_to game.title, game_path(game) %></li>
      <% end %>
    </ol>
    </li>
  <% end %> 
</ul>
</div>