<h1>Genre: <%= @genre.name %> - <%= pluralize(@genre.games.count, "game") %></h1>
<div class="show_genre">
<ol>
  <% @genre.games.each do |game| %>
    <li><%= link_to game.title, game_path(game) %></li><br>
  <% end %>
</ol>
</div>