<h1>Hello <%= @user.username %>!</h1>

<h2>Your games!</h2>

<%= render partial: "/games/games", locals: {games: @user.games} %>

<%= form_tag("/logout", method: 'delete') do %>
    <%= submit_tag "Logout"%>
<% end %>