<h1>Hello <%= @user.username %>!</h1>

<h2>Your games!</h2>

<ul>
  <% @user.games.each do |g| %>
    <li><%= link_to g.title, game_path(g) %></li>
  <% end %>

<%= form_tag("/logout", method: 'delete') do %>
    <%= submit_tag "Logout"%>
<% end %>